<div class="container">
  <h1>写真変更</h1>
  <%= render 'form', feed: @feed %>
  <br>
  <%= link_to '変更', @feed ,class: 'btn btn-success' %> |
  <%= link_to '戻る', feeds_path ,class:'btn btn-primary' %>
</div>
