<div class="container">
  <p id="notice"><%= notice %></p>  
  <p>
    <strong>Image:</strong>
    <%=image_tag @feed.image.url %>
  </p>  
  <%= link_to '変更', edit_feed_path(@feed), class: 'btn btn-success' %> |
  <%= link_to '戻る', feeds_path, class: 'btn btn-primary' %>
</div>

